.#{$prefix}-cursor-auto {
  cursor: auto;
}
.#{$prefix}-cursor-default {
  cursor: default;
}
.#{$prefix}-cursor-pointer {
  cursor: pointer;
}
.#{$prefix}-cursor-wait {
  cursor: wait;
}
.#{$prefix}-cursor-text {
  cursor: text;
}
.#{$prefix}-cursor-move {
  cursor: move;
}
.#{$prefix}-cursor-help {
  cursor: help;
}
.#{$prefix}-cursor-not-allowed {
  cursor: not-allowed;
}
