.#{$prefix}-flex {
  display: flex;
}
.#{$prefix}-inline-flex {
  display: inline-flex;
}
.#{$prefix}-block {
  display: block;
}
.#{$prefix}-inline {
  display: inline;
}
.#{$prefix}-inline-block {
  display: inline-block;
}
