.#{$prefix}-font-thin {
  font-weight: 100;
}
.#{$prefix}-font-extralight {
  font-weight: 200;
}
.#{$prefix}-font-light {
  font-weight: 300;
}
.#{$prefix}-font-normal {
  font-weight: 400;
}
.#{$prefix}-font-medium {
  font-weight: 500;
}
.#{$prefix}-font-semibold {
  font-weight: 600;
}
.#{$prefix}-font-bold {
  font-weight: 700;
}
.#{$prefix}-font-extrabold {
  font-weight: 800;
}
.#{$prefix}-font-black {
  font-weight: 900;
}
