.#{$prefix}-static {
  position: static;
}
.#{$prefix}-fixed {
  position: fixed;
}
.#{$prefix}-absolute {
  position: absolute;
}
.#{$prefix}-relative {
  position: relative;
}
.#{$prefix}-sticky {
  position: sticky;
}
