.#{$prefix}-markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: rgb(var(--c-theme-text-secondary));
  }

  h1 {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  a:not([data-nohover]) {
    color: rgba(var(--#{$prefix}-color-primary), 1);
    text-decoration: none;
    padding-bottom: 1px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.__dark.#{$prefix}-markdown a:not([data-nohover]) {
  color: rgba(var(--#{$prefix}-color-primary), 1);
}
